@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 500;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'poppins';
  font-size: 16px;
  font-weight: normal;
  height: 100%;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  column-gap: 30px;
  row-gap: 43px;
}
body {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
}
.banner {
  max-height: 950px;
  overflow: hidden;
}
.banner-item {
  position: relative;
}
.banner-item img {
  width: 100%;
}
.banner-content {
  position: absolute;
  top: 31%;
  left: 0%;
  width: 100%;
}
.banner-content-inner {
  margin-top: -2px;
  color: #fff;
}
.banner-content-inner .banner-title {
  font-size: 60px;
  font-weight: 500;
  margin-left: -3px;
}
.banner-content-inner .banner-sumary {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  margin-left: -2px;
}
.banner-content-inner .banner-title-content {
  padding-top: 26px;
  line-height: 1.85;
  font-size: 14px;
  font-weight: 400;
  margin-top: 2px;
}
.banner-content-inner .banner-btn {
  margin-top: 53px;
  width: 170px;
  height: 50px;
  border: 1px solid #fff;
}
.banner-content-inner .banner-btn-text {
  letter-spacing: 0.04em;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 49px;
}
.header {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.header .header-banner-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 11px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 400;
}
.header .header-banner-inner nav {
  margin-right: 37px;
}
.header .header-banner-inner nav .nav-icon {
  display: none;
}
.header .header-banner-inner nav .navbar .nav-item {
  margin: 0 24px;
  display: inline-block;
}
.header .header-banner-inner nav .navbar .nav-item a {
  color: #fff;
}
.header .header-banner-inner nav .navbar .nav-item a:hover {
  text-decoration: underline;
}
.header .header-banner-inner nav .navbar .nav-item:last-child {
  margin-right: 0;
}
.header .header-banner-inner .icon-item {
  display: flex;
  margin-right: -25px;
  padding: 23px 0px;
}
.header .header-banner-inner .control-item {
  border-right: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  padding: 0px 27px;
}
.header .header-banner-inner .control-item:last-child {
  border-right: 0px;
}
.slider-title {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  margin-top: 87px;
}
.slider {
  height: 340px;
  overflow: hidden;
}
.slider .slider-item {
  text-align: center;
}
.slider .slider-item .slider-img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 46px;
  overflow: hidden;
}
.slider .slider-item .slider-img img {
  position: relative;
  right: 60px;
}
.slider .slider-content-inner .slide-summary {
  font-size: 18px;
  line-height: 30px;
  color: #777777;
  font-weight: 400;
  text-align: center;
  padding-top: 21px;
  padding-right: 3px;
}
.slider .slider-content-inner .slide-text-name {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  padding-top: 26px;
}
.slider .slider-content-inner .slide-text-happy {
  font-size: 14px;
  font-weight: 400;
  padding-top: 8px;
}
.slider .slick-dots {
  position: absolute;
  bottom: -4px;
}
.slider .slick-dots li {
  margin: 0px;
}
.slider .slick-dots li button::before {
  font-size: 12px;
  color: #dd2f31;
}
.category {
  position: relative;
  bottom: 76px;
}
.category-product {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
}
.category-product-item {
  width: 33.333333%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.category-product-item .category-img {
  height: 50%;
}
.category-product-item .category-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category-product-item .category-content {
  background-color: #fff;
  text-align: center;
  height: 50%;
}
.category-product-item .category-content .category-icon .icon1 {
  margin-top: 45px;
}
.category-product-item .category-content .category-icon .icon2 {
  margin-top: 30px;
}
.category-product-item .category-content .category-icon .icon3 {
  margin-top: 30px;
}
.category-product-item .category-content .category-icon .category-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  padding: 17px 0px;
}
.category-product-item .category-content .category-icon .category-content-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}
.top-selling {
  margin-top: 40px;
}
.top-selling .product-sell-inner .menu-sell {
  margin-top: 19px;
}
.top-selling .product-sell-inner .menu-sell-title {
  display: flex;
}
.top-selling .product-sell-inner .menu-sell-title .menu-title {
  color: #000018;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 18px;
}
.top-selling .product-sell-inner .menu-sell-title .menu-title:first-child {
  padding-left: 3px;
}
.top-selling .product-sell-inner .menu-sell-title .menu-title:hover {
  color: #dd2f31;
  border-bottom: 2px solid #dd2f31;
}
.top-selling .product-sell-inner .menu-sell-title .border {
  margin-top: 12px;
  border: 1px solid #dddddd;
}
.top-selling .product-sell-inner .product {
  margin-top: 49px;
}
.top-selling .product-sell-inner .product-sell-item {
  width: calc(25% - 22.5px);
  padding: 15px;
  box-sizing: border-box;
  height: 335px;
}
.top-selling .product-sell-inner .product-sell-item .product-sell-image {
  margin: -15px;
  overflow: hidden;
}
.top-selling .product-sell-inner .product-sell-item .product-sell-price {
  margin-left: 14px;
  margin-top: 3px;
}
.top-selling .product-sell-inner .product-sell-item .product-sell-name {
  margin-top: 50px;
  margin-left: 15px;
}
.top-selling .product-sell-inner .product-sell-item .control-icon {
  display: none;
}
.top-selling .product-sell-inner .product-sell-item .control-icon .item-icon {
  display: none;
}
.top-selling .product-sell-inner .product-sell-item:hover {
  box-shadow: 0px 0px 5px 1px #ebebeb;
}
.top-selling .product-sell-inner .product-sell-item:hover .control-icon {
  display: block;
  height: 36px;
  width: 36px;
  border: 1px solid #dddddd;
  color: #777777;
  text-align: center;
  line-height: 34px;
  margin: 13px 0;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.top-selling .product-sell-inner .product-sell-item:hover .control-icon:first-child {
  margin-top: 0px;
}
.top-selling .product-sell-inner .product-sell-item:hover .control-icon:hover {
  background-color: #dd2f31;
  color: #fff;
}
.top-selling .product-sell-inner .product-sell-item:hover .control-icon i {
  font-size: 14px;
}
.top-selling .product-sell-inner .product-sell-item:hover .item-icon {
  width: 34px;
  position: absolute;
  margin-top: 8px;
  margin-left: 200px;
}
.top-selling .product-sell-inner .product-sell-name {
  font-size: 14px;
  font-weight: 400;
  color: #000018;
}
.top-selling .product-sell-inner .product-sell-price {
  font-size: 14px;
  font-weight: 500;
  color: #000018;
}
.border-end {
  border-bottom: 1px solid #cccccc;
}
.trademark {
  margin-top: 72px;
}
.trademark .trademark-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.trademark .trademark-inner .trademark-item {
  width: 16.66666667%;
  padding: 35px 32px;
}
.footer {
  background-color: #222;
  margin-top: -2px;
}
.footer-top {
  text-align: center;
  padding-top: 100px;
}
.footer-top .footer-summary {
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  padding: 26px 0px;
}
.footer-top .footer-icon-social .footer-icon-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: center;
}
.footer-top .footer-icon-social .footer-icon-inner .icon-social {
  color: #777777;
  padding: 14px 22px;
  font-size: 18px;
}
.footer-top .footer-icon-social .footer-icon-inner .icon-social:first-child {
  padding-left: 28px;
  padding-right: 28px;
}
.footer-top .twitter {
  padding-left: 17px;
}
.footer-middle {
  margin-top: 111px;
}
.footer-middle-inner {
  display: flex;
  column-gap: 30px;
}
.footer-middle-inner .footer-middle-item {
  width: calc(25% - 22.5px);
}
.footer-middle-inner .footer-middle-item .footer-item-title {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}
.footer-middle-inner .footer-middle-item .footer-item-content {
  color: #777777;
  padding-top: 25px;
}
.footer-middle-inner .footer-middle-item .footer-item-content .footer-content-item {
  display: flex;
  padding-top: 15px;
}
.footer-middle-inner .footer-middle-item .footer-item-content .footer-content-item:first-child {
  padding-top: 0px;
}
.footer-middle-inner .footer-middle-item .footer-item-content .footer-content-item .footer-item-summary {
  line-height: 24px;
  font-size: 14px;
  padding-left: 11px;
}
.footer-middle-inner .footer-middle-item .footer-item-content .footer-item-info {
  line-height: 24px;
  font-size: 14px;
  padding-top: 16px;
  letter-spacing: 0.01em;
}
.footer-middle-inner .footer-middle-item .footer-item-content .footer-item-info:first-child {
  padding-top: 0;
}
.footer-bottom {
  margin-top: 45px;
  height: 50px;
  line-height: 50px;
  background-color: #111111;
  text-align: center;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
}
@media all and (max-width: 1920px) {
  .banner-content-inner .banner-title {
    font-size: 3.125vw;
  }
  .banner-content-inner .banner-sumary {
    font-size: 2.08333333vw;
  }
  .banner-content-inner .banner-title-content {
    font-size: 0.72916667vw;
  }
  .banner-content-inner .banner-btn-text {
    font-size: 0.72916667vw;
  }
}
@media all and (max-width: 1200px) {
  .category {
    position: relative;
    bottom: 0px;
  }
  .category-product-item .category-content {
    display: none;
  }
  .category-product-item .category-content .category-icon .category-title {
    font-size: 0.9375vw;
  }
  .category-product-item .category-content .category-icon .category-content-title {
    font-size: 0.72916vw;
  }
  .trademark .trademark-inner .trademark-item img {
    width: 100%;
  }
}
@media all and (max-width: 1067px) {
  .header .header-banner-inner .logo {
    order: 2;
  }
  .header .header-banner-inner nav {
    order: 1;
  }
  .header .header-banner-inner nav .nav-icon {
    display: block;
  }
  .header .header-banner-inner nav .navbar {
    transition: all, 0.5s;
    -webkit-transform: all, 0.5s;
    -moz-transform: all, 0.5s;
    -ms-transform: all, 0.5s;
    -o-transform: all, 0.5s;
    transform: translateX(-110%);
    -webkit-transform: translateX(-110%);
    -moz-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    -o-transform: translateX(-110%);
    display: block;
    position: fixed;
    top: 28%;
    left: 0%;
    height: 100%;
    width: 100%;
    padding-left: 14px;
    background: rgba(0, 0, 0, 0.5);
  }
  .header .header-banner-inner nav .navbar .nav-item {
    display: block;
    margin: 0px;
    font-size: 20px;
    width: 98%;
    border-bottom: 1px solid #777;
  }
  .header .header-banner-inner nav .navbar .nav-item a {
    letter-spacing: 0.02em;
  }
  .header .header-banner-inner nav .active {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  .header .header-banner-inner .icon-item {
    order: 3;
  }
  .banner-content-inner .banner-btn {
    margin-top: 3.66vw;
    width: 12.44509517vw;
    height: 3.66032211vw;
  }
  .banner-content-inner .banner-btn-text {
    line-height: 3.66032211vw;
  }
  .category-product {
    justify-content: center;
    height: 100%;
  }
  .category-product-item {
    width: calc(33.333333% * 2);
    height: 100%;
    align-items: center;
  }
  .category-product-item .category-content {
    width: 100%;
  }
  .category-product-item:nth-child(2) .category-content {
    order: 2;
  }
  .top-selling .product-sell-inner .product .row {
    justify-content: center;
  }
  .top-selling .product-sell-inner .product .row-sell-item .product-sell-image img {
    width: 100%;
  }
  .top-selling .product-sell-inner .product .row-sell-item:hover .item-icon {
    position: absolute;
    margin-top: 1.28vh;
    margin-left: 16.5vw;
  }
}
@media all and (max-width: 874px) {
  .top-selling .product-sell-inner .product-sell-item .product-sell-image img {
    width: 100%;
  }
  .top-selling .product-sell-inner .product-sell-item:hover .item-icon {
    position: absolute;
    margin-top: 1.28vh;
    margin-left: 16.5vw;
  }
  .trademark .trademark-inner .trademark-item {
    width: calc(16.66666667% * 2);
  }
  .trademark .trademark-inner .trademark-item img {
    width: 100%;
  }
  .footer-middle {
    margin-top: 111px;
  }
  .footer-middle-inner {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-middle-inner .footer-middle-item {
    width: calc((25% - 22.5px)*2);
  }
}
@media all and (max-width: 745px) {
  .top-selling .product-sell-inner .product-sell-item {
    width: calc((25% - 22.5px)*2);
  }
}
@media all and (max-width: 724px) {
  .slider {
    height: 375px;
  }
  .slider .slick-dots {
    position: absolute;
    bottom: 2px;
  }
  .slider .slick-dots li {
    margin: 0px;
  }
  .slider .slick-dots li button::before {
    font-size: 12px;
    color: #dd2f31;
  }
}
@media all and (max-width: 500px) {
  .top-selling .product-sell-inner .menu-sell-title .menu-title {
    font-size: 14px;
    font-weight: 500;
  }
  .footer-middle {
    margin-top: 111px;
  }
  .footer-middle-inner {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
  }
  .footer-middle-inner .footer-middle-item {
    width: calc((25% - 22.5px)*3);
  }
}
@media all and (max-width: 450px) {
  .top-selling .product-sell-inner .product-sell-item {
    width: calc((25% - 22.5px)*5);
  }
  .top-selling .product-sell-inner .product-sell-item .product-sell-name {
    margin-top: 2.60416667vw;
  }
  .trademark .trademark-inner .trademark-item {
    width: calc(16.66666667% * 3);
  }
  .trademark .trademark-inner .trademark-item img {
    width: 100%;
  }
}
@media all and (max-width: 300px) {
  .trademark .trademark-inner {
    justify-content: center;
  }
  .trademark .trademark-inner .trademark-item {
    width: calc(16.66666667% * 4);
  }
  .trademark .trademark-inner .trademark-item img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */