@media all and (max-width: 1920px){
    .banner{
        &-content{
            &-inner{
                .banner-title{
                    font-size: 3.125vw;
                }
                .banner-sumary{
                    font-size: 2.083333333vw;
                }  
                .banner-title-content{
                    font-size: 0.72916666666vw;
                }
                .banner-btn{
                    &-text{
                        font-size: 0.72916666666vw;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 1200px){
    .category{
        position: relative;
        bottom: 0px;
        &-product{
            &-item{
                .category-content{
                    display: none;
                }
                .category-content{
                    .category-icon{
                        .category-title{
                            font-size: 0.9375vw;
                        }
                        .category-content-title{
                            font-size: 0.72916vw;
                        }
                    }
                }
            }
        }
    }
    .trademark{
        .trademark-inner{
            .trademark-item{
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media all and (max-width: 1067px){
    .header{
        .header-banner-inner{
            .logo{
               order: 2;
            }
            nav{
                .nav-icon{
                    display: block;
                }
                order: 1;
                .navbar {
                    .transit(all, 0.5s);
                     .transform(translateX(-110%));
                    display: block;
                    position: fixed;
                    top: 28%;
                    left: 0%;
                    height: 100%;
                    width: 100%;
                    padding-left: 14px;
                    background: rgba(0, 0, 0, 0.5);
                    .nav-item{
                        display: block;
                        margin: 0px;
                        font-size: 20px;
                        width: 98%;
                        border-bottom: 1px solid #777;
                        a{
                            letter-spacing: 0.02em;
                        }
                    }
                   
                } 
                .active{
                    .transform(translateX(0%));
                }
            }
            .icon-item{
                order: 3;
            }
        }
    }
    .banner{
        &-content{
            &-inner{
                .banner-btn{
                    margin-top: 3.66vw;
                    width: 12.445095168374817vw;
                    height: 3.6603221083455346vw;
                    &-text{
                        line-height: 3.6603221083455346vw;
                    }
                }
            }
        }
    }
    .category{
        &-product{
            justify-content: center;
            height: 100%;
            &-item{
                width: calc(33.333333% * 2);
                height: 100%;
                align-items: center;
                .category-content{
                    width: 100%;
                }
                &:nth-child(2){
                    .category-content{
                        order: 2;
                    }
                }
            }
        }
    }
    .top-selling{
        .product-sell{
            &-inner{
                .product{
                    .row{
                        justify-content: center;
                        &-sell-item{
                            .product-sell-image{
                                img{
                                    width: 100%;
                                }
                            }
                            &:hover{                
                                .item-icon{
                                    position:absolute;
                                    margin-top: 1.28vh;
                                    margin-left: 16.5vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 874px){
    .top-selling{
        .product-sell{
            &-inner{
                .product{
                    &-sell-item{
                        .product-sell-image{
                            img{
                                width: 100%;
                            }
                        }
                        &:hover{                
                            .item-icon{
                                position:absolute;
                                margin-top: 1.28vh;
                                margin-left: 16.5vw;
                            }
                        }
                    }
                }
            }
        }
    }
    .trademark{
        .trademark-inner{
            .trademark-item{
                width: calc(16.66666667% * 2);
                img{
                    width: 100%;
                }
            }
        }
    }
    .footer{
        &-middle{
            margin-top: 111px;
            &-inner{
                display: flex;
                column-gap: 30px;
                flex-wrap: wrap;
                justify-content: center;
                .footer-middle-item{
                    width: calc((25% - 22.5px)*2);
                    
                }
            }
        }
    }
}
@media all and (max-width: 745px){
    .top-selling{
        .product-sell{
            &-inner{
                .product{
                    &-sell-item{
                        width: calc((25% - 22.5px)*2);
                    }
                }
            }
        }
    }
}
@media all and (max-width: 724px){
    .slider{
        height: 375px;
        .slick-dots{
            position: absolute;
            bottom: 2px;
            li{
                margin: 0px;
                button{
                    &::before{
                        font-size: 12px;
                        color:#dd2f31;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 500px){
    .top-selling{
        .product-sell{
            &-inner{
                .menu-sell{
                    &-title{
                        .menu-title{
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
    .footer{
        &-middle{
            margin-top: 111px;
            &-inner{
                display: flex;
                column-gap: 30px;
                flex-wrap: wrap;
                .footer-middle-item{
                    width: calc((25% - 22.5px)*3);
                    
                }
            }
        }
    }
}

@media all and (max-width: 450px){
    .top-selling{
        .product-sell{
            &-inner{
                .product{
                    &-sell-item{
                        width: calc((25% - 22.5px)*5);
                        .product-sell-name{
                            margin-top: 2.60416666666vw;
                        }
                    }
                }
            }
        }
    }
    .trademark{
        .trademark-inner{
            .trademark-item{
                width: calc(16.66666667% * 3);
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media all and (max-width: 300px){
    .trademark{
        .trademark-inner{
            justify-content: center;
            .trademark-item{
                width: calc(16.66666667% * 4);
                img{
                    width: 100%;
                }
            }
        }
    }
}

