.category-product {
    position: relative;
    bottom: 77px;
    display: flex;
    flex-wrap: wrap;
    height: 500px;

    &-item {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .6);
        .col(33.333333%);
        display: flex;
        flex-direction: column;

        .category-img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            height: 250px;
        }

        .category-content {
            background-color: @text-white-color;
            text-align: center;
            height: 250px;

            .category-icon {
                .icon1 {
                    margin-top: 45px;
                }

                .icon2 {
                    margin-top: 30px;
                }

                .icon3 {
                    margin-top: 30px;
                }

                .category-title {
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 700;
                    padding: 17px 0px;
                    font-family: 'Poppins Bold';
                }

                .category-content-title {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.8;
                }
            }
        }
    }
}

.product-sell {
    .border-tab {
        border-bottom: 1px solid #dddddd;
    }

    .tab-product {
        display: flex;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        list-style: none;

        &-summary {
            padding: 19px 17.5px;

            &:hover {
                opacity: 0.5;
            }

            a {
                font-family: 'Poppins Bold';
                font-size: 18px;
                font-weight: 700;
                color: #000018;
            }
        }

        .active {
            border-bottom: 1px solid #db090b;

            a {
                color: #db090b;
            }
        }
    }

    .product {
        margin-top: 34px;

        &-sell-item {
            margin-bottom: 42px;
            width: 25%;
            padding: 0 15px;
            box-sizing: border-box;
            height: 335px;
            border: 1px solid #fff;

            .product-sell-image {
                position: relative;

                img {
                    width: 100%;
                }
            }

            .product-sell-price {
                font-size: 14px;
                font-family: 'Poppins Bold';
                font-weight: 400;
                color: #000000;
                margin-left: 28px;
                margin-top: 1px;
            }

            .product-sell-name {
                font-size: 14px;
                font-weight: 400;
                color: #000000;
                margin-top: 22px;
                margin-left: 28px;
            }

            .control-icon {
                display: none;

                .item-icon {
                    display: none;
                }
            }

            &:hover {
                .product-sell-content {
                    box-shadow: 0px 0px 5px 1px #ebebeb;
                    border: 1px solid transparent;
                }

                .control-icon {
                    display: block;
                    height: 36px;
                    width: 36px;
                    border: 1px solid #dddddd;
                    color: #777777;
                    text-align: center;
                    line-height: 34px;
                    margin-bottom: 13px;

                    &:hover {
                        background-color: #dd2f31;
                        color: @text-white-color;
                    }

                    border-top-left-radius:7px;
                    border-bottom-right-radius: 7px;

                    i {
                        font-size: 14px;
                    }
                }

                .item-icon {
                    width: 34px;
                    position: absolute;
                    top: 18px;
                    right: 19px;
                }
            }
        }
    }
}

.trademark {
    border-top: 1px solid #dddddd;

    .trademark-inner {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        justify-content: center;
        align-items: center;

        .trademark-item {
            height: 152px;
            width: 16.6666666%;
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }
}