.category{
    position: relative;
    bottom: 76px;
    &-product{
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        &-item{
            .col(33.333333%);
            display: flex;
            flex-direction: column;
            .category-img{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                height: 50%;
            }
            .category-content{
                background-color: @text-white-color;
                text-align: center;
                height: 50%;
                .category-icon{
                    .icon1{
                        margin-top: 45px;
                    }
                    .icon2{
                        margin-top: 30px;
                    }
                    .icon3{
                        margin-top: 30px;
                    }
                    .category-title{
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 500;
                        padding: 17px 0px;
                    }
                    .category-content-title{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.6;
                    }
                }
            }
        }
    }
}

.top-selling{
    margin-top: 40px;
    .product-sell{
        &-inner{
            .menu-sell{
                margin-top: 19px;
                &-title{
                    display: flex;
                    .menu-title{
                        &:first-child{
                            padding-left: 3px;
                        }
                        color: #000018;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 500;
                        padding: 0px 18px;
                        &:hover{
                            color: #dd2f31;
                            border-bottom: 2px solid #dd2f31;
                        }
                    }
                    .border{
                        margin-top: 12px;
                        border: 1px solid #dddddd;
                    }
                }
            }
            .product{
                margin-top: 49px;
                &-sell-item{
                    width: calc(25% - 22.5px);
                    padding: 15px;
                    box-sizing: border-box;
                    height: 335px;
                    .product-sell-image{
                        margin: -15px;
                        overflow: hidden;
                    }
                    .product-sell-price{
                        margin-left: 14px;
                        margin-top: 3px
                    }
                    .product-sell-name{
                        margin-top: 50px;
                        margin-left: 15px;
                    }
                    .control-icon{
                        display: none;
                        .item-icon{
                            display: none;
                        }
                    }
                    &:hover{
                        box-shadow: 0px 0px 5px 1px #ebebeb;                    
                        .control-icon{
                            display: block;
                            height: 36px;
                            width: 36px;
                            border: 1px solid #dddddd;
                            color: #777777;
                            text-align: center;
                            line-height: 34px;
                            margin: 13px 0;
                            &:first-child{
                                margin-top: 0px;
                            }
                            &:hover{
                                background-color: #dd2f31;
                                color: @text-white-color;
                            }
                            border-top-left-radius:7px;
                            border-bottom-right-radius: 7px;
                            i{
                                font-size: 14px;
                            }
                        }  
                        .item-icon{
                            width: 34px;
                            position:absolute;
                            margin-top: 8px;
                            margin-left: 200px;
                        }
                    }
                }
                &-sell-name{
                    font-size: 14px;
                    font-weight: 400;
                    color: #000018;
                }
                &-sell-price{
                    font-size: 14px;
                    font-weight: 500;
                    color: #000018;
                }
            }
        }
    }
}
.border-end{
    border-bottom: 1px solid #cccccc;
}

.trademark{
    margin-top: 72px;
    .trademark-inner{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        .trademark-item{
            width: 16.66666667%;
            padding: 35px 32px;
        }
    }
}